@import '/@/theme/media.scss';

.blog-detail-page{
  width: 85%;

  .blog-info-left{
    width: 17%;
    min-width: 200px;
    position: sticky;
    top: 0;
    padding-top: 10px;
  }

  .blog-content-page{
    width: 66%;
    margin: 10px 0 0 10px;
  }

  .blog-info-right{
    width: 17%;
    min-width: 200px;
    position: sticky;
    top: 0;
    // border-left: 1px solid var(--app-border-color);

    // 博客目录
    .blog-toc-title{
      white-space: nowrap;
      font-size: 15px;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: $lg) {
  .blog-detail-page {
    padding: 0px;
    display: block;
    width: 100%;

    .blog-info-left{
      position: static;
      padding-top: 0px;
    }

    .blog-content-page{
      width: 100vw;
      margin: 0px;
    }

    .blog-info-right{
      display: none;
    }
  }
}