@import '/@/theme/media.scss';

.blog-detail-page{

  .blog-info-left{
    width: 15vw;
    min-width: 200px;
    position: sticky;
    top: 0;
    padding-top: 10px;
  }

  .blog-content-page{
    width: 55vw;
    margin: 10px 0 0 10px;
  }

  .blog-info-right{
    width: 15vw;
    height: 100vh;
    min-width: 200px;
    position: sticky;
    top: 0;
    // border-left: 1px solid var(--el-border-color-light, #ebeef5);

    // 博客目录
    .blog-toc-title{
      white-space: nowrap;
      font-size: 15px;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: $lg) {
  .blog-detail-page {
    padding: 0px;
    display: block;

    .blog-info-left{
      position: static;
      padding-top: 0px;
    }

    .blog-content-page{
      width: 100vw;
      margin: 0px;
    }

    .blog-info-right{
      display: none;
    }
  }
}