.user-register-page{
    flex-direction: column;
    margin-top: 25vh;

    input:-webkit-autofill{
      -webkit-box-shadow: 0 0 0px 1000px var(--app-color-bg) inset;
      -webkit-text-fill-color: var(--el-input-text-color,var(--el-text-color-regular)) !important;
    }    

    .van-field__label{
      width: 60px;
      margin-right: 50px;
      text-align: justify;
      text-align-last: justify;
    }
    .van-cell{
      background: transparent !important;
    }

    .input-box{
        padding: 10px;
    
        .input-title{
            white-space: nowrap;
            font-size: 14px;
            color: var(--app-item-title);
            margin-right: 10px;
            width: 60px;
            text-align: justify;
            text-align-last: justify;
        }
    }

    .input-img{
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }

    .register-btn{
        flex-direction: column;
        padding: 50px 16px 0;
    
        .reg-button{
            width: 100%;
        }
    
        .to-login{
            cursor: pointer;
            margin-top: 20px;
            color: #9fa2a8;
            font-size: 12px;
        }
    }
}