@import '/@/theme/media.scss';

.terms-page{
  padding: 0 16px;

  .content-page{
    width: 70vw;
    margin: 10px 0 0 10px;
  }
}

@media screen and (max-width: $lg) {
  .terms-page {
    padding: 0px;
    display: block;

    .content-page{
      width: 100vw;
      margin: 0px;
    }
  }
}