.page-home {
  .home-title{
    font-size: 35px;
    color: var(--app-item-title);
    letter-spacing: 1px;
  }

  .search-input-focus {
    border-color: var(--el-color-primary);
    outline: none;
    box-shadow: var(--el-color-primary) 0px 0px 0px 1px inset;
  }

  .search-input{
    min-width: 300px;
    max-width: 600px;
    height: 40px;
    padding: 0 10px;
    border: 1px solid var(--app-border-color);
    border-radius: 6px;

    input {
      width: 100%;
      height: 100%;
      font-size: 14px;
      color: var(--app-item-title);
      background-color: transparent;
      border: none;
      
      &::placeholder{
        color: var(--app-item-sub);
      }

      &:focus{
        outline:none;
        box-shadow: none;
      }
    }
  }

  .home-back-img{
    width: 100%;
    max-width: 800px;
  }
}