.page-home {

  .count{
    color: var(--el-color-black);
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
    color: var(--el-color-black);
  }
  
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.vue:hover {
    filter: drop-shadow(0 0 2em #42b883aa);
  }
}